schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Wed Dec 20 2017 18:48:20 GMT-0500 (EST) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="Project">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="ProjectTitle" type="xs:string"></xs:element>
                           <xs:element name="CitationSet">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="Citation" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="CitationType" type="xs:string"></xs:element>
                                                               <xs:element name="PMID" type="xs:int"></xs:element>
                                                               <xs:element name="DOI" type="xs:string"></xs:element>
                                                               <xs:element name="PMCID" type="xs:string"></xs:element>
                                                               <xs:element name="JournalCitation">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="JournalName" type="xs:string"></xs:element>
                                                                                 <xs:element name="JournalYear" type="xs:int"></xs:element>
                                                                                 <xs:element name="JournalIssue" type="xs:int"></xs:element>
                                                                                 <xs:element name="JournalNumber" type="xs:int"></xs:element>
                                                                                 <xs:element name="PageSet">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="PageStart" type="xs:int"></xs:element>
                                                                                                   <xs:element name="PageEnd" type="xs:int"></xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="AuthorSet">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="Author" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Name" type="xs:string"></xs:element>
                                                               <xs:element name="DegreeSet">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Degree" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="AffiliationSet">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Affiliation" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="ProjectDescription">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="Abstract">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Background" type="xs:string"></xs:element>
                                                               <xs:element name="PopulationSpecification">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Enrollment">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="CriterionSet">
                                                                                                         <xs:complexType>
                                                                                                               <xs:sequence>
                                                                                                                     <xs:element name="Criterion" maxOccurs="unbounded">
                                                                                                                           <xs:complexType>
                                                                                                                                 <xs:sequence>
                                                                                                                                       <xs:element name="CriterionType" type="xs:string"></xs:element>
                                                                                                                                       <xs:element name="CriterionSpecification" type="xs:string"></xs:element>
                                                                                                                                 </xs:sequence>
                                                                                                                           </xs:complexType>
                                                                                                                     </xs:element>
                                                                                                               </xs:sequence>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                                 <xs:element name="Allocation">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="AllocationPredicate">
                                                                                                         <xs:complexType>
                                                                                                               <xs:sequence>
                                                                                                                     <xs:element name="AllocationPredicateFunction">
                                                                                                                           <xs:complexType>
                                                                                                                                 <xs:sequence>
                                                                                                                                       <xs:element name="AllocationPredicateFunctionSignature" type="xs:string"></xs:element>
                                                                                                                                       <xs:element name="AllocationPredicateFunctionArgumentSet">
                                                                                                                                             <xs:complexType>
                                                                                                                                                   <xs:sequence>
                                                                                                                                                         <xs:element name="AllocationPredicateFunctionArgument">
                                                                                                                                                               <xs:complexType>
                                                                                                                                                                     <xs:sequence>
                                                                                                                                                                           <xs:element name="AllocationPredicateFunctionArgumentName" type="xs:string"></xs:element>
                                                                                                                                                                           <xs:element name="AllocationPredicateFunctionArgumentValue" type="xs:int"></xs:element>
                                                                                                                                                                     </xs:sequence>
                                                                                                                                                               </xs:complexType>
                                                                                                                                                         </xs:element>
                                                                                                                                                   </xs:sequence>
                                                                                                                                             </xs:complexType>
                                                                                                                                       </xs:element>
                                                                                                                                 </xs:sequence>
                                                                                                                           </xs:complexType>
                                                                                                                     </xs:element>
                                                                                                                     <xs:element name="AllocationPredicateValueIfTrue" type="xs:string"></xs:element>
                                                                                                                     <xs:element name="AllocationPredicateValueIfFalse" type="xs:string"></xs:element>
                                                                                                               </xs:sequence>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                                 <xs:element name="AllocatedStudyArmSet">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="AllocatedStudyArm" maxOccurs="unbounded">
                                                                                                         <xs:complexType>
                                                                                                               <xs:sequence>
                                                                                                                     <xs:element name="Name" type="xs:string"></xs:element>
                                                                                                                     <xs:element name="InitialSize">
                                                                                                                           <xs:complexType>
                                                                                                                                 <xs:sequence>
                                                                                                                                       <xs:element name="SubgroupSet">
                                                                                                                                             <xs:complexType>
                                                                                                                                                   <xs:sequence>
                                                                                                                                                         <xs:element name="Subgroup" maxOccurs="unbounded">
                                                                                                                                                               <xs:complexType>
                                                                                                                                                                     <xs:sequence>
                                                                                                                                                                           <xs:element name="Name" type="xs:string"></xs:element>
                                                                                                                                                                           <xs:element name="Size" type="xs:int"></xs:element>
                                                                                                                                                                     </xs:sequence>
                                                                                                                                                               </xs:complexType>
                                                                                                                                                         </xs:element>
                                                                                                                                                   </xs:sequence>
                                                                                                                                             </xs:complexType>
                                                                                                                                       </xs:element>
                                                                                                                                 </xs:sequence>
                                                                                                                           </xs:complexType>
                                                                                                                     </xs:element>
                                                                                                                     <xs:element name="InterventionSet">
                                                                                                                           <xs:complexType>
                                                                                                                                 <xs:sequence>
                                                                                                                                       <xs:element name="Intervention" type="xs:string"></xs:element>
                                                                                                                                 </xs:sequence>
                                                                                                                           </xs:complexType>
                                                                                                                     </xs:element>
                                                                                                                     <xs:element name="MetricResultSet">
                                                                                                                           <xs:complexType>
                                                                                                                                 <xs:sequence>
                                                                                                                                       <xs:element name="MetricResult" type="xs:string"></xs:element>
                                                                                                                                 </xs:sequence>
                                                                                                                           </xs:complexType>
                                                                                                                     </xs:element>
                                                                                                               </xs:sequence>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="PlannedActionSet">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="PlannedAction" maxOccurs="unbounded">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="Name" type="xs:string"></xs:element>
                                                                                                   <xs:element name="IntendedTargetPopulation" type="xs:string"></xs:element>
                                                                                                   <xs:element name="PlannedActionSpecification">
                                                                                                         <xs:complexType>
                                                                                                               <xs:sequence>
                                                                                                                     <xs:element name="TypeOfAction" type="xs:string"></xs:element>
                                                                                                                     <xs:element name="DrugAdministrationScheduleSet">
                                                                                                                           <xs:complexType>
                                                                                                                                 <xs:sequence>
                                                                                                                                       <xs:element name="DrugAdministrationSchedule">
                                                                                                                                             <xs:complexType>
                                                                                                                                                   <xs:sequence>
                                                                                                                                                         <xs:element name="Substance" type="xs:string"></xs:element>
                                                                                                                                                         <xs:element name="Duration" type="xs:string"></xs:element>
                                                                                                                                                         <xs:element name="Frequency" type="xs:string"></xs:element>
                                                                                                                                                         <xs:element name="Dose" type="xs:string"></xs:element>
                                                                                                                                                   </xs:sequence>
                                                                                                                                             </xs:complexType>
                                                                                                                                       </xs:element>
                                                                                                                                 </xs:sequence>
                                                                                                                           </xs:complexType>
                                                                                                                     </xs:element>
                                                                                                                     <xs:element name="DurationOfAction"></xs:element>
                                                                                                               </xs:sequence>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="MetricSpecificationSet">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="MetricSpecification" maxOccurs="unbounded">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="Name" type="xs:string"></xs:element>
                                                                                                   <xs:element name="Measurement">
                                                                                                         <xs:complexType>
                                                                                                               <xs:sequence>
                                                                                                                     <xs:element name="MeasurementName" type="xs:string"></xs:element>
                                                                                                                     <xs:element name="MeasurementUnits" type="xs:string"></xs:element>
                                                                                                               </xs:sequence>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                                   <xs:element name="IntendedTargetPopulationSet">
                                                                                                         <xs:complexType>
                                                                                                               <xs:sequence>
                                                                                                                     <xs:element name="IntendedTargetPopulation" maxOccurs="unbounded">
                                                                                                                           <xs:complexType>
                                                                                                                                 <xs:sequence>
                                                                                                                                       <xs:element name="Name" type="xs:string"></xs:element>
                                                                                                                                       <xs:element name="Value"></xs:element>
                                                                                                                                 </xs:sequence>
                                                                                                                           </xs:complexType>
                                                                                                                     </xs:element>
                                                                                                               </xs:sequence>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                                   <xs:element name="StatisticSpecification">
                                                                                                         <xs:complexType>
                                                                                                               <xs:sequence>
                                                                                                                     <xs:element name="StatisticName"></xs:element>
                                                                                                                     <xs:element name="ModifierSet">
                                                                                                                           <xs:complexType>
                                                                                                                                 <xs:sequence>
                                                                                                                                       <xs:element name="Modifier"></xs:element>
                                                                                                                                 </xs:sequence>
                                                                                                                           </xs:complexType>
                                                                                                                     </xs:element>
                                                                                                                     <xs:element name="FalsePositiveChance"></xs:element>
                                                                                                               </xs:sequence>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="MetricResultSet">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="MetricResult" maxOccurs="unbounded">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="MetricName" type="xs:string"></xs:element>
                                                                                                   <xs:element name="StudyArmSet">
                                                                                                         <xs:complexType>
                                                                                                               <xs:sequence>
                                                                                                                     <xs:element name="StudyArm" maxOccurs="unbounded">
                                                                                                                           <xs:complexType>
                                                                                                                                 <xs:sequence>
                                                                                                                                       <xs:element name="Name" type="xs:string"></xs:element>
                                                                                                                                       <xs:element name="MetricValue" type="xs:string"></xs:element>
                                                                                                                                 </xs:sequence>
                                                                                                                           </xs:complexType>
                                                                                                                     </xs:element>
                                                                                                               </xs:sequence>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="AbstractText" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="Conclusion" type="xs:string"></xs:element>
                                             <xs:element name="KeywordSet">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Keyword" maxOccurs="unbounded" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="ProtocolSet">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="Protocol" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Name" type="xs:string"></xs:element>
                                                               <xs:element name="Detail">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Url" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="ParticipatingNodeSet">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="ParticipatingNode" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Name" type="xs:string"></xs:element>
                                                               <xs:element name="Role" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>
 